# API de IA
NEXT_PUBLIC_ANTHROPIC_API_KEY=your_api_key_here

# Banco de dados (futuro)
DATABASE_URL=postgresql://user:password@localhost:5432/radoc_service

# Server
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Autenticação (futuro)
NEXTAUTH_SECRET=your_secret_here
NEXTAUTH_URL=http://localhost:3000

# Stripe (futuro)
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
